version: '3.7'
services:
  cawsr:
    image: ghcr.io/intelligent-testing-lab/autoware-scenario-runner:latest
    command: /bin/bash -c "source /ros_workspace/autoware_msgs/install/setup.bash && source /opt/ros/humble/setup.bash && python3 /autoware_scenario_runner/cawsr.py"

    stdin_open: true
    tty: true    
    network_mode: host
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    environment:
      - DISPLAY=${DISPLAY}
      - CAWSR_CONFIG=configs/example_algorithm.json # relative path

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./algorithms:/autoware_scenario_runner/algorithms
      - ./configs:/autoware_scenario_runner/configs
      - ./scenarios:/autoware_scenario_runner/scenarios
      - ./results:/autoware_scenario_runner/results
        
    depends_on: 
      - autoware-latest
      - carla

  autoware-latest: # dont launch when running distributed
    image: ghcr.io/intelligent-testing-lab/autoware:latest
    entrypoint: bash
    command: -c "source /opt/ros/humble/setup.bash && source /workspace/install/setup.bash && ros2 launch autoware_manager autoware_manager.launch.xml"  
    
    stdin_open: true
    tty: true
    
    container_name: autoware-latest    
    network_mode: host
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    environment:
      - DISPLAY=${DISPLAY}
      - CARLA_HOST=127.0.0.1
      
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
    
    depends_on:
      - carla

  carla:
    image: carlasim/carla:0.9.15
    command: /bin/bash -c "./CarlaUE4.sh -carla-rpc-port=2000 -quality-level=Epic"
    
    stdin_open: true
    tty: true

    container_name: carla-sim
    network_mode: host
    
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_DRIVER_CAPABILITIES=all
      - XDG_RUNTIME_DIR=/tmp

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]


    healthcheck:
      test: ["CMD-SHELL", "pgrep -f CarlaUE4.sh"]
      interval: 30s    
      timeout: 10s     
      retries: 3       
      start_period: 90s