services:
  cawsr:
    image: ghcr.io/intelligent-testing-lab/autoware-scenario-runner:latest
    entrypoint: bash
    command: -c "source /ros_workspace/autoware_msgs/install/setup.bash && source /opt/ros/humble/setup.bash && python3 /autoware_scenario_runner/cawsr.py"

    container_name: cawsr
    stdin_open: true
    tty: true    
    network_mode: host
    ipc: host
    pid: host
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    environment:
      - DISPLAY=${DISPLAY}
      - CAWSR_CONFIG=${CAWSR_CONFIG}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=file:///cyclonedds/cyclonedds_${MODE}.xml
      - AUTOWARE_IP=${AUTOWARE_IP}
      - HOST_IP=${HOST_IP}

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./algorithms:/autoware_scenario_runner/algorithms
      - ./configs:/autoware_scenario_runner/configs
      - ./scenarios:/autoware_scenario_runner/scenarios
      - ./results:/autoware_scenario_runner/results
        
  autoware-latest: # dont launch when running distributed
    image: ghcr.io/intelligent-testing-lab/autoware:latest
    entrypoint: bash
    command: -c "source /opt/ros/humble/setup.bash && source /workspace/install/setup.bash && ros2 launch autoware_manager autoware_manager.launch.xml"  
    
    stdin_open: true
    tty: true
    
    container_name: autoware-latest    
    network_mode: host
    ipc: host
    pid: host
    
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    
    environment:
      - DISPLAY=${DISPLAY}
      - CARLA_HOST=127.0.0.1
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=file:///cyclonedds/cyclonedds_${MODE}.xml
      - HOST_IP=${HOST_IP}
      - AUTOWARE_IP=${AUTOWARE_IP}

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
    

  carla:
    image: carlasim/carla:0.9.15
    entrypoint: bash
    command: -c "./CarlaUE4.sh -carla-rpc-port=2000 -quality-level=Low -RenderOffScreen"

    
    stdin_open: true
    tty: true

    container_name: carla-sim
    network_mode: host
    
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw

    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_DRIVER_CAPABILITIES=all
      - XDG_RUNTIME_DIR=/tmp

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]


    healthcheck:
      test: ["CMD-SHELL", "pgrep -f CarlaUE4.sh"]
      interval: 30s    
      timeout: 10s     
      retries: 3       
      start_period: 90s
